/*
#171717 dark grey

#0e0e0e like black 

#f51616 like red
*/

body{
	background-color: black;
	text-align: center;
	font-family: Helvetica, Verdana, Arial ;
	color: white;
	box-sizing: border-box;

}


.navbar {  
	margin-bottom: -27px;
	width:100%;
	background-color: black ;
	overflow: auto;
}
.navbar a {
	float:left;
	padding: 12px;						/*DON'T TOUCH*/ 
	color:white;
	text-decoration: none;				/*536162*/
	font-size: 17px;
	transition-property: background-color;
	transition-duration: 0.3s; 
}
.navbar a:hover{
	background-color: white;
	color: #f51616;

}
.active {
	background-color: #f51616;
}
.num{
	margin-left: 80%;
}

.fon{
	min-height: 500px;
	width: 100%;
	max-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 150px;
	padding-bottom: 150px;
	border-bottom: 5px #171717;
	margin-top: 21px;
	box-shadow: inset 0 0 1000px 140px black;
}
.text{
	font-size: 1.4em;
	background-color: white; 
	padding: 10px 100px; 
	border: black;
	box-shadow: 0 0 10px 3px black;
}
.button{
	font-weight: bold;
	font-size: 1.4em;
	padding: 10px;
	padding-bottom: 10.5px;
	background-color: red;
	color: white;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.1s; 
	box-shadow: 0 0 10px 3px black;
}
a:hover{
	color: red;
	background-color: white;

}

.fon-text h1{
	padding-top: 60px;
	font-size: 2.5em;

}
.fon-text h3{
	font-size: 2em;
}
.fon-text h4{
	font-size: 1.5em;
	padding-bottom: 30px;
	text-shadow: 0 0 5px black;

	
}



.foot{
	margin-top: 130px;
	width: 100%;
	min-height: 300px;
	padding-bottom: 25px;
	background-color: #131313;
	font-size: 1.3em;
	
}

.col1, .col2, .col3{
	font-family: arial;
	color: red;
	width: 33%;
	display: inline-block;
	text-align: justify-all;
	text-decoration: none;		
}
.foot a{
	text-decoration: none;	
	color: grey;
}
.foot a:hover {
	background: none;
	color: white;
}

.end{
	font-size: 0.7em;
	font-family: verdana;
	text-align: center;
}
.end a{
	text-decoration: none;
	color: red;
}
.end a:hover{
	background-color: red;
	color: white;
}





.panel, .content{
	display: inline-block;
	
}

.panel{
	width: 15%;
	border: 1px grey solid;
	float: left;
	margin: 7px;
	padding-bottom: 50px;
	margin-bottom: 100px;
}
.panel img {
	max-width: 90%;
	padding-bottom: 5px;
}
.panel a{
	color: white;
	text-decoration: none;

}
.panel a:hover{
	color: red;
	background-color: red;
	text-decoration: none;
}
.panel p{
	margin-bottom: 35px;
}




.content div{
	width: 90%;
	margin: 10px 4%;
	padding: 15px;
	background-color: #131313;


}
.content{
	width: 83%;
	min-height: 1600px;
	padding-top: 65px;
	text-align: justify-all;
	font-size: 1.3em;
}

.content img{
	width: 45%;
}

.content a{
	color: white;
	text-decoration: none;

}
.content a:hover {
	color: #f51616;
	background-color: red;
	text-decoration: none;
}
.content p{
	font-size: 1em;
}

.content button{
	font-size: 0.9em;
	background-color: black;
	color: grey;
}
.content button:hover{
	color: white;
	background-color: black;
}